body {
    --callout-radius: 0;
    --callout-padding: 0;
    --blockquote-border-thickness: 8px;
    --blockquote-border-color: #333333;
}

.callout {
    border-left: 4px solid rgb(var(--callout-color));
}

.callout-title {
    padding: 10px;
    width: 100%;
}

.callout-content {
    padding: 5px 15px;
    background-color: var(--color-base-10);
}

.callout[data-callout="danger"],
.callout[data-callout="error"] {
    --callout-color: 180, 0, 0;
}

.callout[data-callout="customize"] {
    --callout-color: 128, 0, 128;
    --callout-icon: '<svg viewBox="0 0 24 24"><path d="M9.709 19.637L6.614 21.91l-.027.837 1.643.68.971-1.037 1.411.281.501 1.329h1.778l.5-1.329 1.411-.28.971 1.036 1.643-.68-.047-1.419 1.196-.799 1.294.586 1.257-1.257-.586-1.293.799-1.196 1.419.046.68-1.643-1.037-.97.281-1.411L24 12.889v-1.778l-1.329-.5L22.39 9.2l1.037-.971-.68-1.643-1.419.046-.799-1.196.586-1.293-1.257-1.257-1.294.586-1.196-.799.047-1.419-1.643-.68L14.8 1.61l-1.411-.281-.5-1.329h-1.778l-.501 1.329-1.41.281L8.23.573l-1.643.68.027.837 3.095 2.273A7.97 7.97 0 0112 4.029a7.971 7.971 0 11-2.292 15.608zM8.915 5.781h2.449V18.22H9.676V8.48l-3.09 9.739-3.09-9.739v9.739H1.81V5.781h2.449l2.328 7.675 2.328-7.675z"/></svg>';
}

.callout[data-callout="unfinished"],
.callout[data-callout="incomplete"] {
    --callout-color: 255, 70, 70;
    --callout-icon: '<svg viewBox="0 0 24 24"><rect width="9" height="9" y="1" x="14" rx="1"/><rect width="9" height="9" y="14" x="1" rx="1"/><rect width="9" height="9" y="14" x="14" rx="1"/></svg>';
}

.callout[data-callout="goal"],
.callout[data-callout="goals"],
.callout[data-callout="target"],
.callout[data-callout="targets"] {
    --callout-color: 0, 200, 200;
    --callout-icon: '<svg viewBox="0 0 24 24"><path fill="currentColor" d="M20.172 6.75h-1.861l-4.566 4.564a1.874 1.874 0 1 1-1.06-1.06l4.565-4.565V3.828a.94.94 0 0 1 .275-.664l1.73-1.73a.249.249 0 0 1 .25-.063c.089.026.155.1.173.191l.46 2.301l2.3.46c.09.018.164.084.19.173a.25.25 0 0 1-.062.249l-1.731 1.73a.937.937 0 0 1-.663.275Z"/><path fill="currentColor" d="M2.625 12A9.375 9.375 0 0 0 12 21.375A9.375 9.375 0 0 0 21.375 12c0-.898-.126-1.766-.361-2.587A.75.75 0 0 1 22.455 9c.274.954.42 1.96.42 3c0 6.006-4.869 10.875-10.875 10.875S1.125 18.006 1.125 12S5.994 1.125 12 1.125c1.015-.001 2.024.14 3 .419a.75.75 0 1 1-.413 1.442A9.39 9.39 0 0 0 12 2.625A9.375 9.375 0 0 0 2.625 12Z"/><path fill="currentColor" d="M7.125 12a4.874 4.874 0 1 0 9.717-.569a.748.748 0 0 1 1.047-.798c.251.112.42.351.442.625a6.373 6.373 0 0 1-10.836 5.253a6.376 6.376 0 0 1 5.236-10.844a.75.75 0 1 1-.17 1.49A4.876 4.876 0 0 0 7.125 12Z"/></svg>';
}

.callout[data-callout="def"],
.callout[data-callout="definition"] {
    --callout-color: 25, 230, 160;
    --callout-icon: '<svg viewBox="0 0 24 24"><path fill="currentColor" d="M21 5c-1.11-.35-2.33-.5-3.5-.5c-1.95 0-4.05.4-5.5 1.5c-1.45-1.1-3.55-1.5-5.5-1.5c-1.95 0-4.05.4-5.5 1.5v14.65c0 .25.25.5.5.5c.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5c1.35-.85 3.8-1.5 5.5-1.5c1.65 0 3.35.3 4.75 1.05c.1.05.15.05.25.05c.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1m0 13.5c-1.1-.35-2.3-.5-3.5-.5c-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5c1.2 0 2.4.15 3.5.5v11.5Z"/></svg>';
}